<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flimzy.flashback" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flashback</name>
    <description>
        A flashcard program.
    </description>
    <author email="flimzy@flimzy.com" href="http://cordova.io">
        Jonathan Hall
    </author>
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="AndroidLaunchMode" value="singleInstance"/>
    <content src="cordova.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-console" version="1" />
    <plugin name="cordova-plugin-globalization" version="1" />
<!-- FIXME: Limit this only to the actual domain(s) we care about! -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<!-- I can't think of any reason we'd want these. At least not yet.    
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
-->
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
