ul.login {
    list-style-type: none;
}

.login img {
    max-width: 50%;
    max-height: 48px;
}

ul.login li {
    display: none;
}

.hide-until-load {
    display: none;
}

/*
    A workaround for an apparent bug in jQuery Mobile that setting
    class="ui-responsive-panel" doesn't hide the invisible dismiss
    div over the content
*/
@media (min-width:35em){
    .ui-panel-dismiss { display: none !important; }
}

body,
div[role="main"] {
    overflow: hidden;
}
#cardframe {
    height: inherit;
}
iframe {
    position: absolute;
    margin: -1em;
    padding: 0;
    width: 100%;
    height: inherit;
    border: none;
}

.disabled {
    opacity: 0.5;
}
