ul.login {
    list-style-type: none;
}

.login img {
    max-width: 50%;
    max-height: 48px;
}

ul.login li {
    display: none;
}

.hide-until-load {
    display: none;
}

/*
    A workaround for an apparent bug in jQuery Mobile that setting
    class="ui-responsive-panel" doesn't hide the invisible dismiss
    div over the content
*/
@media (min-width:35em){
    .ui-panel-dismiss { display: none !important; }
}

#cardframe {
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
/*

<iframe src="mypage.html" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
*/
